*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
  background-color: snow;
}


ul {
   
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1C0A00;
    height: 50px;
    
    
  }
  
  li {
    display: inline;
   
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    transition: .5s;
  }

  li a:hover {
    background-color: rgba(255, 255, 255);
    transform: scale(1.2,1.2);
    color: crimson;
  }

  #a {
    margin-left: 32px;
  }
  .nav-bibli > ul {
    height: 100px;    
    padding-left: 5px;
    margin: 10px;
    padding: 10px;
 }

 .nav-bibli >ul> li{
  margin-right: 10px;
 }
  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    bottom: 0px;
    height: 150px;
    width: 100%;
    background: #1C0A00;
    color: white;
    font-size: 25px ;
    text-align: center;
    
}
.label-nav{
  color: white;
  font-size: 25px;

}

.pesquisa{
  border: 1px solid white;
  border-radius: 2px;
  height: 35px;
  width: 100px;
  border: 1px solid black;
  transition: .5s;
 
}
.lab-pesq{
  margin-right: 5px;
  height: 35px;
  width: 350px;
}
.lab-pesq:focus {
  padding-left: 5px;
  outline: 0;
}


.pesquisa:hover{
  background-color: #CC9544;
  color: white;

  transform: scale(1.15,1.15);

}
.main{
  display: flex;
  background-image:url(../img/3.jpg);
  align-items: center;
  margin: 10px;
  width: 98.5%;


}

.bookshelf{
  display: grid;
  grid-template-columns:  auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto ;
  margin: 10px;
}
.livro{
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left:30px;
 
}
.livro >button >p{
  
 
  writing-mode: vertical-lr; 
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.livro >button{
  
  height: 200px;
  width: 55px;
  background: black;
  transition: .3s;
}

.livro >button:hover{
  transform: scale(1.5,1.5);
}

form{
  display: flex;
}
