*{

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
nav
{
    background-color: crimson;
}
form{

    margin: 50px 350px 0px 350px ;
    
    padding: 50px 20px 10px 20px;
    border: 1px solid black;
    border-radius: 15px;
   
   
}

label{
    display: block;
}
.inp>button{
    
    text-align: center;
}
.inp{
    margin: 10px;
   
}
.inp>input{
   
    height: 30px;
    width: 100%;
    border: 1px solid #9999;
    border-radius: 3px;
    padding: 10px;

}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


.grid{
    display: grid;
    grid-template-columns: auto auto;

}

.botao{
   
    width: 100%;
    height: 50px;
    border: 1px solid #9999;
    border-radius: 5px ;
    transition: .5s;
   
}
.botao:hover{
    background-color: rgba(220, 20, 60, 0.9);
    transform: scale(1.04,1.04);

}
h1{
    text-align: center;
    padding: 15px;
    color: crimson;
}

.seta{
    margin: 10px;
    height:30px ;
    width:30px ;
    transition: .5s;
}
.seta:hover{
    transform: scale(1.5,1.5);
}
a{
    text-decoration: none;
    color: black;
}
div>p{
    padding-top: 10px;
    color: #999;
}

.check{
    margin: 10px;

}
.check>input{

    height: 25px;
    width: 25px;
}

footer{
    margin-top: 50px;
    position: relative;
    bottom: 0px;
    height: 150px;
    width: 100%;
    background: crimson;
    color: white;
    font-size: 25px ;
    text-align: center;
}
