*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    box-sizing: border-box;
}

body{
  background-color: snow;
}


footer{

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 50px;
    position: relative;
    bottom: 0px;
    height: 150px;
    width: 100%;
    background: #1C0A00;
    color: white;
    font-size: 25px ;
    text-align: center;
}

nav ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    background-color: #1C0A00;
    height: 50px;
 

    
    
  }
  
nav  li {
    display: inline;
   
    float: left;
  }

nav  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    transition: .5s;
    
    
  }

nav  li a:hover {
    background-color: rgba(255, 255, 255);
    
    color: white;
    transform: scale(1.2,1.2);

  }

#txtDes{
  margin-top: 1px;
  padding: 20px;
  text-align: center;
  color: #CC9544;
  font-size: 40px;
  background-image: linear-gradient(rgba(28, 10, 0, 1),rgba(28, 10, 0, 0.9));
 
}

.car{
  padding: 40px;
  display: flex;
  margin-bottom: 200px;



  
}

.grid{
  display: grid;
  grid-template-columns: auto auto;
 
}
.grid>p{
   padding-left: 25px;
   color:#361500;
}
.iten1{
  margin: 15px;
  width: 45%;
  color:#361500;
  font-size: 20px;
  
  
}
.iten2{
  text-align: left;
  width: 55%;
  
}

.iten2>img{
  max-width: 95%;
  
}

.text{
 width: 73%;
 padding: 2%;
 text-align: justify;
 justify-content: center;
 font-size: larger;
}

.title{
  color: #CC9544;
  text-align: center;
}

#txtsobre{
  padding: 20px;
  margin-bottom: 20px;
  background-image: linear-gradient(rgba(28, 10, 0, 1),rgba(28, 10, 0, 0.9));
  color: #CC9544;
  font-size: 40px;
}
.main{
  display: flex;
}

.borImg{
  background:#CC9544;
}

.mid{
color: #361500;
}
#arp{
  margin-bottom: 30px;
}
